@charset "UTF=8";
h1{
    background-color: rgba(21, 21, 209, 0.685);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}
h2{
    background-color: rgba(72, 72, 214, 0.685);
    color: rgb(255, 255, 255);
    font-size: 22px;
    padding-left: 3px;
}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 2px;
    margin: 2px;
    line-height: 15px;
}
a:hover{
    background-color: rgb(122, 85, 255);
    color: white;
    width: 200px;
}
ol{
    counter-reset: item;
    list-style-type: none;
}
li{
    margin-bottom: 3px;
}


